
@charset "UTF-8";

body {
  /* max-width: 1000px; */
  padding: 0;
  margin: auto;
  background-color: #f0f0f0;
  font-family: Hiragino Kaku Gothic ProN ;
}
img {
  width: 100%;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
}

.wrapper {
 max-width: 1000px;
 margin: auto;
}

.en {
  font-size: 2.4rem;
  font-family: Hiragino Kaku Gothic ProN;
  letter-spacing: 0.3em;
  font-weight: lighter ;
}

.jp {
  font-size: 0.9rem;
  font-family: Hiragino Kaku Gothic ProN;
  /* letter-spacing: 0.3em; */
  font-weight: lighter ;
  /* border-bottom: #000 solid 1px; */
  margin-bottom: 30px;
}

h2 {
  margin: 25px auto;
  line-height: 0;
}
hr {
  width: 50px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 60px;
}

/* ul li{ */
  /* list-style: none; */
/* } */

/* headder */
/* #header {
  ;
} */
#header {
  /* height: 100px; */
  margin: 0;
}
#header h1 img {
  width: 100px;
  margin: auto 20px;
}

#header a{
  margin: auto 15px;
}

#header .nav-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0;
}


#header .nav-left {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}


#header .nav-right {
  display: flex;
  width: 250px;
  height: 100px;
  background-color: #000;
  color: #fff;
  /* margin: auto auto auto 0; */
  text-align: center;
  align-items: center;
  justify-content: center;
}


#header .nav-right a {



}

/* mainvisual */
#mainvisual img {
  object-fit: cover;
  /* width: 100%; */
  height: calc(100vh - 80px);
  margin-bottom:80px ;
  max-width: initial;
}


/* NEWS */
.news-wrap {
  display: flex;
  font-size: 0.9rem;
  margin-bottom: 100px;
}

.news-container {
  width: 33%;
  border-right: black solid 1px;
  /* padding-left:10px ; */
}

.news-container2 {
  width: 33%;
  border-right: black solid 1px;
  padding-left:20px ;
}
.news-container3 {
  width: 33%;
  /* border-right: black solid 1px; */
  padding-left:20px ;
}


.news-date{
  display: flex;
}

.news-date p{
  /* font-size: 0.9rem; */
  margin-right: 10px;
}
.black {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 0 5px;
}

/* ABOUT */

#about {
  /* border: black solid 1px; */
  /* object-fit: cover; */
  /* width: 1000px; */
  /* height: calc(100vh - 80px); */
  margin-bottom:80px ;
  display: flex;
  max-width: initial;
}

.about-img {
  width: 60%;
  /* height: 400px; */

}

.about-img img{
  /* width: 60%; */
  object-fit: cover;
  height: 400px;
}

.about-container {
  width: 40%;

  padding: 150px 50px 100px 50px;
}
/* BUSINESS */
.business-cell {
  display: flex;
}

.business-cell .left{
  width: 46%;
  /* margin-top: 50px; */
}

.business-cell .right{
  width: 46%;
}
/* .business-cell img{
  width: 100%;
} */

/* .business-cell .left {
  margin-top:150px ;
  margin-left: 100px;
}

.business-cell .custommarker02 {
  /* margin-top:150px ; */
  /* margin-right: 50px; */
/* } */ */

.business-cell ul{
  list-style-type:none;
}

.business-cell li::marker {
  content: '- ';
  font-size: 1.2em;
}



/* COMPANY */
#company{
  position: relative;
  display: flex;
  margin: 100px;
}

#company .company-text {
  position: absolute;
  background-color: #fff;
  width: 50%;
  padding: 120px 80px;
} 

#company img {
  position: absolute;
  width: 50%;
}



/* footer */
.copyright {
  text-align: center;
}

#footer p {
  font-size: 0.5rem;
}

/************************
 レスポンシブ
 ************************/
 /* ブレークポイントは900pxです。 */
 
 @media screen and (max-width: 600px) {



 }
 
