
@charset "UTF-8";

body {
  /* max-width: 1000px; */
  padding: 0;
  margin: auto;
  background-color: #f0f0f0;
}
img {
  width: 100%;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
 max-width: 1000px;
 margin: auto;
}



/* ul li{ */
  /* list-style: none; */
/* } */

/* headder */
/* #header {
  ;
} */
#header {
  /* height: 100px; */
  margin: 0;
}
#header h1 img {
  width: 100px;
}

#header .nav-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0;
}


#header .nav-left {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}


#header .nav-right {
  width: 250px;
  height: 100px;
  background-color: #000;
  color: #fff;
  /* margin: auto auto auto 0; */
  text-align: center;
  align-items: center;
  /* justify-content: space-between; */
}


#header .nav-right a {
  margin: auto;
  padding-top: 100px;

}

/* mainvisual */
#mainvisual img {
  width: 100%;
}


/* NEWS */



/* ABOUT */


/* BUSINESS */


/* COMPANY */

/* footer */
.copyright {
  text-align: center;
}

#footer p {
  font-size: 0.5rem;
}

/************************
 レスポンシブ
 ************************/
 /* ブレークポイントは900pxです。 */
 
 @media screen and (max-width: 600px) {



 }
 
